## 2. 서울시 구별 인구 통계 가져오기

서울시 주민등록인구 통계
서울시 사업체 현황

두개 데이터 가져오기

In [2]:
# 라이브러리
import pandas as pd

In [34]:
# 서울시 구별 주민등록 인구 통계_영어로 바꿔주기
sgg_pop_df = pd.read_csv('report.txt', sep='\t', header=2)
columns = {
        '기간': 'GIGAN',
    '자치구': 'JACHIGU',
    '계': 'GYE_1',
    '계.1': 'GYE_2',
    '계.2': 'GYE_3',
    '남자': 'NAMJA_1',
    '남자.1': 'NAMJA_2',
    '남자.2': 'NAMJA_3',
    '여자': 'YEOJA_1',
    '여자.1': 'YEOJA_2',
    '여자.2': 'YEOJA_3',
    '세대': 'SEDAE',
    '세대당인구': 'SEDAEDANGINGU',
    '65세이상고령자': 'N_65SEISANGGORYEONGJA'
}
sgg_pop_df.rename(columns= columns, inplace = True)

In [35]:
# head()
sgg_pop_df.head()

,GIGAN,JACHIGU,동,사업체수,여성대표자,GYE_1,남,여,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
0,2019,합계,합계,"823,624","281,318","5,226,997","2,885,614","2,341,383",24,426,...,"1,296","141,582","35,761","351,320","29,168","400,143","23,527","92,752","69,345","189,557"
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
2,2019,종로구,사직동,"3,574","1,203","47,522","25,154","22,368",1,12,...,23,"6,088",83,786,106,"1,096",91,"1,653",253,906
3,2019,종로구,삼청동,732,327,"4,601","2,271","2,330",-,-,...,4,"1,291",17,297,7,30,19,185,25,194
4,2019,종로구,부암동,599,255,"3,454","1,764","1,690",-,-,...,3,60,38,"1,190",19,183,18,49,82,325

In [36]:
# info()
sgg_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 46 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GIGAN    450 non-null    int64
 1   JACHIGU  450 non-null    object
 2   동        450 non-null    object
 3   사업체수     450 non-null    object
 4   여성대표자    450 non-null    object
 5   GYE_1    450 non-null    object
 6   남        450 non-null    object
 7   여        450 non-null    object
 8   사업체수.1   450 non-null    object
 9   종사자수     450 non-null    object
 10  사업체수.2   450 non-null    object
 11  종사자수.1   450 non-null    object
 12  사업체수.3   450 non-null    object
 13  종사자수.2   450 non-null    object
 14  사업체수.4   450 non-null    object
 15  종사자수.3   450 non-null    object
 16  사업체수.5   450 non-null    object
 17  종사자수.4   450 non-null    object
 18  사업체수.6   450 non-null    object
 19  종사자수.5   450 non-null    object
 20  사업체수.7   450 non-null    object
 21  종사자수.6   450 non-null    object
 22  사업체수.8   450 non-null    object
 23  종사자수.7   450 non-null    object
 24  사업체수.9   450 non-null    object
 25  종사자수.8   450 non-null    object
 26  사업체수.10  450 non-null    object
 27  종사자수.9   450 non-null    object
 28  사업체수.11  450 non-null    object
 29  종사자수.10  450 non-null    object
 30  사업체수.12  450 non-null    object
 31  종사자수.11  450 non-null    object
 32  사업체수.13  450 non-null    object
 33  종사자수.12  450 non-null    object
 34  사업체수.14  450 non-null    object
 35  종사자수.13  450 non-null    object
 36  사업체수.15  450 non-null    object
 37  종사자수.14  450 non-null    object
 38  사업체수.16  450 non-null    object
 39  종사자수.15  450 non-null    object
 40  사업체수.17  450 non-null    object
 41  종사자수.16  450 non-null    object
 42  사업체수.18  450 non-null    object
 43  종사자수.17  450 non-null    object
 44  사업체수.19  450 non-null    object
 45  종사자수.18  450 non-null    object
dtypes: int64(1), object(45)
memory usage: 161.8+ KB

In [37]:
# tail()
sgg_pop_df.tail()

,GIGAN,JACHIGU,동,사업체수,여성대표자,GYE_1,남,여,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
445,2019,강동구,둔촌1동,17,5,283,195,88,-,-,...,-,-,2,194,-,-,-,-,4,7
446,2019,강동구,둔촌2동,"1,553",539,"9,463","4,676","4,787",-,-,...,3,96,87,585,59,"3,002",53,128,204,317
447,2019,강동구,암사1동,"1,918",698,"5,646","2,777","2,869",-,-,...,2,34,69,237,78,"1,035",63,154,248,413
448,2019,강동구,천호2동,"3,439","1,346","14,208","6,528","7,680",-,-,...,3,103,100,568,150,"1,779",100,415,304,743
449,2019,강동구,길동,"5,037","1,430","21,237","11,098","10,139",-,-,...,5,221,142,903,167,"3,475",139,403,407,962

In [38]:
# 필요없는 데이터 제거 '합계'
condition = sgg_pop_df['JACHIGU'] != '합계'
sgg_pop_df_selected = sgg_pop_df[condition]
sgg_pop_df_selected.head()

,GIGAN,JACHIGU,동,사업체수,여성대표자,GYE_1,남,여,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
2,2019,종로구,사직동,"3,574","1,203","47,522","25,154","22,368",1,12,...,23,"6,088",83,786,106,"1,096",91,"1,653",253,906
3,2019,종로구,삼청동,732,327,"4,601","2,271","2,330",-,-,...,4,"1,291",17,297,7,30,19,185,25,194
4,2019,종로구,부암동,599,255,"3,454","1,764","1,690",-,-,...,3,60,38,"1,190",19,183,18,49,82,325
5,2019,종로구,평창동,761,328,"3,447","1,518","1,929",-,-,...,3,90,48,425,38,480,33,185,112,266

In [39]:
# info()
sgg_pop_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 449 entries, 1 to 449
Data columns (total 46 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GIGAN    449 non-null    int64
 1   JACHIGU  449 non-null    object
 2   동        449 non-null    object
 3   사업체수     449 non-null    object
 4   여성대표자    449 non-null    object
 5   GYE_1    449 non-null    object
 6   남        449 non-null    object
 7   여        449 non-null    object
 8   사업체수.1   449 non-null    object
 9   종사자수     449 non-null    object
 10  사업체수.2   449 non-null    object
 11  종사자수.1   449 non-null    object
 12  사업체수.3   449 non-null    object
 13  종사자수.2   449 non-null    object
 14  사업체수.4   449 non-null    object
 15  종사자수.3   449 non-null    object
 16  사업체수.5   449 non-null    object
 17  종사자수.4   449 non-null    object
 18  사업체수.6   449 non-null    object
 19  종사자수.5   449 non-null    object
 20  사업체수.7   449 non-null    object
 21  종사자수.6   449 non-null    object
 22  사업체수.8   449 non-null    object
 23  종사자수.7   449 non-null    object
 24  사업체수.9   449 non-null    object
 25  종사자수.8   449 non-null    object
 26  사업체수.10  449 non-null    object
 27  종사자수.9   449 non-null    object
 28  사업체수.11  449 non-null    object
 29  종사자수.10  449 non-null    object
 30  사업체수.12  449 non-null    object
 31  종사자수.11  449 non-null    object
 32  사업체수.13  449 non-null    object
 33  종사자수.12  449 non-null    object
 34  사업체수.14  449 non-null    object
 35  종사자수.13  449 non-null    object
 36  사업체수.15  449 non-null    object
 37  종사자수.14  449 non-null    object
 38  사업체수.16  449 non-null    object
 39  종사자수.15  449 non-null    object
 40  사업체수.17  449 non-null    object
 41  종사자수.16  449 non-null    object
 42  사업체수.18  449 non-null    object
 43  종사자수.17  449 non-null    object
 44  사업체수.19  449 non-null    object
 45  종사자수.18  449 non-null    object
dtypes: int64(1), object(45)
memory usage: 164.9+ KB

In [40]:
# 분석에 필요한 칼럼 선택 'JACHIGU', 'GYE_1'
columns = ['JACHIGU', 'GYE_1']
sgg_pop_df_final = sgg_pop_df_selected[columns]

In [41]:
# head()
sgg_pop_df_final.head()

  JACHIGU    GYE_1
1     종로구  260,446
2     종로구   47,522
3     종로구    4,601
4     종로구    3,454
5     종로구    3,447

In [42]:
# 데이터프레임의 칼럼명 변경 '시군구명','주민등록인구'
sgg_pop_df_final.columns = ['시군구명','주민등록인구']
sgg_pop_df_final.info()
sgg_pop_df_final.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 449 entries, 1 to 449
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구명    449 non-null    object
 1   주민등록인구  449 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

  시군구명   주민등록인구
1  종로구  260,446
2  종로구   47,522
3  종로구    4,601
4  종로구    3,454
5  종로구    3,447

In [43]:
# 엑셀로 저장하기
sgg_pop_df_final.to_excel('sgg_pop.xlsx', index=False)

In [48]:
# 서울시 동별 사업체 현황 통계 데이터 가져오기
sgg_biz_df = pd.read_csv('report.txt', sep='\t', header=2)
sgg_biz_df.head()

,기간,자치구,동,사업체수,여성대표자,계,남,여,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
0,2019,합계,합계,"823,624","281,318","5,226,997","2,885,614","2,341,383",24,426,...,"1,296","141,582","35,761","351,320","29,168","400,143","23,527","92,752","69,345","189,557"
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
2,2019,종로구,사직동,"3,574","1,203","47,522","25,154","22,368",1,12,...,23,"6,088",83,786,106,"1,096",91,"1,653",253,906
3,2019,종로구,삼청동,732,327,"4,601","2,271","2,330",-,-,...,4,"1,291",17,297,7,30,19,185,25,194
4,2019,종로구,부암동,599,255,"3,454","1,764","1,690",-,-,...,3,60,38,"1,190",19,183,18,49,82,325

In [49]:
# 컬럼명 바꾸기

columns = {
    '기간': 'GIGAN',
    '자치구': 'JACHIGU',
    '동': 'DONG',
    '사업체수': 'SAEOPCHESU_1',
    '여성대표자': 'YEOSEONGDAEPYOJA',
    '계': 'GYE',
    '남': 'NAM',
    '여': 'YEO'
}
sgg_biz_df.rename(columns= columns, inplace = True)
sgg_biz_df.head(10)

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
0,2019,합계,합계,"823,624","281,318","5,226,997","2,885,614","2,341,383",24,426,...,"1,296","141,582","35,761","351,320","29,168","400,143","23,527","92,752","69,345","189,557"
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
2,2019,종로구,사직동,"3,574","1,203","47,522","25,154","22,368",1,12,...,23,"6,088",83,786,106,"1,096",91,"1,653",253,906
3,2019,종로구,삼청동,732,327,"4,601","2,271","2,330",-,-,...,4,"1,291",17,297,7,30,19,185,25,194
4,2019,종로구,부암동,599,255,"3,454","1,764","1,690",-,-,...,3,60,38,"1,190",19,183,18,49,82,325
5,2019,종로구,평창동,761,328,"3,447","1,518","1,929",-,-,...,3,90,48,425,38,480,33,185,112,266
6,2019,종로구,무악동,647,102,"1,644",872,772,-,-,...,1,12,28,177,10,486,5,11,47,90
7,2019,종로구,교남동,413,178,"4,581","1,481","3,100",-,-,...,2,37,19,176,25,"3,139",11,44,56,170
8,2019,종로구,가회동,765,351,"12,817","9,546","3,271",-,-,...,3,495,35,691,15,93,40,190,57,223
9,2019,종로구,종로1.2.3.4가동,"15,472","4,920","108,747","65,713","43,034",-,-,...,24,"4,944",302,"3,225",203,"1,645",246,"1,329",920,"2,835"

In [50]:
# info()
sgg_biz_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 46 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GIGAN             450 non-null    int64
 1   JACHIGU           450 non-null    object
 2   DONG              450 non-null    object
 3   SAEOPCHESU_1      450 non-null    object
 4   YEOSEONGDAEPYOJA  450 non-null    object
 5   GYE               450 non-null    object
 6   NAM               450 non-null    object
 7   YEO               450 non-null    object
 8   사업체수.1            450 non-null    object
 9   종사자수              450 non-null    object
 10  사업체수.2            450 non-null    object
 11  종사자수.1            450 non-null    object
 12  사업체수.3            450 non-null    object
 13  종사자수.2            450 non-null    object
 14  사업체수.4            450 non-null    object
 15  종사자수.3            450 non-null    object
 16  사업체수.5            450 non-null    object
 17  종사자수.4            450 non-null    object
 18  사업체수.6            450 non-null    object
 19  종사자수.5            450 non-null    object
 20  사업체수.7            450 non-null    object
 21  종사자수.6            450 non-null    object
 22  사업체수.8            450 non-null    object
 23  종사자수.7            450 non-null    object
 24  사업체수.9            450 non-null    object
 25  종사자수.8            450 non-null    object
 26  사업체수.10           450 non-null    object
 27  종사자수.9            450 non-null    object
 28  사업체수.11           450 non-null    object
 29  종사자수.10           450 non-null    object
 30  사업체수.12           450 non-null    object
 31  종사자수.11           450 non-null    object
 32  사업체수.13           450 non-null    object
 33  종사자수.12           450 non-null    object
 34  사업체수.14           450 non-null    object
 35  종사자수.13           450 non-null    object
 36  사업체수.15           450 non-null    object
 37  종사자수.14           450 non-null    object
 38  사업체수.16           450 non-null    object
 39  종사자수.15           450 non-null    object
 40  사업체수.17           450 non-null    object
 41  종사자수.16           450 non-null    object
 42  사업체수.18           450 non-null    object
 43  종사자수.17           450 non-null    object
 44  사업체수.19           450 non-null    object
 45  종사자수.18           450 non-null    object
dtypes: int64(1), object(45)
memory usage: 161.8+ KB

In [51]:
# 시군구별 사업체 현황 데이터 추출 'DONG' == '소계'
condition = sgg_biz_df['DONG'] == '소계'
sgg_biz_df_selected = sgg_biz_df[condition]
sgg_biz_df_selected.head(10)

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
19,2019,중구,소계,"60,127","22,451","392,568","213,484","179,084",-,-,...,65,"20,287",502,"8,598",760,"10,342",558,"3,637","2,112","8,090"
35,2019,용산구,소계,"20,254","7,074","135,240","74,570","60,670",-,-,...,47,"3,101",537,"6,973",562,"7,147",401,"2,623","1,591","5,494"
52,2019,성동구,소계,"28,343","8,563","178,243","102,769","75,474",2,5,...,45,"4,127",995,"11,678",754,"9,255",592,"2,113","2,079","7,787"
70,2019,광진구,소계,"24,445","8,921","126,305","67,899","58,406",-,-,...,36,"2,678","1,209","14,184",916,"11,551","1,052","4,209","2,552","5,828"
86,2019,동대문구,소계,"31,324","10,456","138,400","73,067","65,333",-,-,...,50,"3,430","1,027","16,657","1,051","15,154",762,"2,344","2,532","5,285"
101,2019,중랑구,소계,"28,228","9,519","103,345","53,185","50,160",-,-,...,47,"3,533",915,"7,925","1,031","13,013",968,"2,543","2,753","5,018"
118,2019,성북구,소계,"23,617","8,922","111,005","54,975","56,030",-,-,...,51,"3,308","1,368","21,947","1,045","13,249",745,"2,323","2,625","5,567"
139,2019,강북구,소계,"19,014","7,153","73,904","34,134","39,770",-,-,...,44,"3,108",683,"5,911",816,"10,099",751,"2,125","2,275","4,454"
153,2019,도봉구,소계,"18,628","6,269","72,939","37,598","35,341",1,1,...,38,"3,892",926,"7,318",824,"11,538",618,"1,778","2,068","4,467"

In [52]:
# 필요없는 칼럼 제거
columns = ['JACHIGU', 'GYE', 'SAEOPCHESU_1']
sgg_biz_df_final = sgg_biz_df_selected [columns]
sgg_biz_df_final.columns = ['시군구명', '종사자수','사업체수']
sgg_biz_df_final.head()

   시군구명     종사자수    사업체수
1   종로구  260,446  39,679
19   중구  392,568  60,127
35  용산구  135,240  20,254
52  성동구  178,243  28,343
70  광진구  126,305  24,445

In [53]:
# 데이터프레임의 인덱스 초기화
sgg_biz_df_final[['시군구명','사업체수']].to_excel('sgg_biz.xlsx',index=False)

In [ ]:
# 엑셀로 저장